.alert {
    margin: 10px 0;
    padding: 10px 12px;
    border-radius: 16px;
    font-weight: 500;
    animation: neuPopUp 0.5s ease-in-out;
    box-shadow: 3px 3px 6px var(--dark), -3px -3px 6px var(--light);
}

.alert-close{
    padding: 5px 10px;
}
