.authCard {
    padding: 50px 10px;
    max-width: 600px;
    animation: neuPopUp 2.5s ease-in-out;
}

.auth-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
}

.authInput {
    width: 100%;
    margin: 10px 0;
    padding-left: 45px;
}

.authButton {
    margin: 10px 0;
}

.auth-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.auth-switch button {
    padding: 10px;
    margin: 10px;
}

.input-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    pointer-events: none;
}

.eye-btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.fadeIcon {
    animation: fade 2s ease-in-out;
}

.eye-btn:focus-visible {
    transform: translateY(-50%) scale(1.1);
}