header {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons-div {
    display: flex;
    gap: 20px;
}


.theme-btn {
    border-radius: 50%;
    display: grid;
    place-items: center;
    line-height: 1;
    min-width: 50px;
    min-height: 50px;
    transition: transform 0.4s ease;
}

.theme-btn.spin {
    transform: rotate(180deg);
}