.section {
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding: 10px 16px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    resize: none;
    overflow: hidden;
}

.meta-input {
    display: flex;
    gap: 10px;
}

.actions {
    margin: 10px 0px;
    display: flex;
    gap: 12px;
}

.meta-box {
    animation: expandDown 0.2s ease-in-out;
}

.searchCount {
    animation: zoomPulse 0.35s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.highlight {
    animation: zoomPulse 0.8s ease-out 0.7s 1;
}