.section {
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding: 10px 16px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    resize: none;
    overflow: hidden;
}

.meta-input {
    display: flex;
    gap: 10px;
}

.actions {
    margin: 10px 0px;
    display: flex;
    gap: 12px;
}

.meta-box {
    animation: expandDown 0.2s ease-in-out;
}
