@import "tailwindcss";
@import "./styles/animations.css";

* {
  transition: all 0.3s ease;
}

:root {
  --bg: #e0e0e0;
  --fg: hsl(0, 0%, 20%);
  --light: #f0f0f0;
  --dark: #c2c2c2;
}

[data-theme="dark"] {
  --bg: #1e1e1e;
  --fg: #eee;
  --light: #2a2a2a;
  --dark: #121212;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, sans-serif;
}

input,
textarea,
button {
  border: 0;
  outline: 0;
  padding: 12px;
  border-radius: 12px;
  background: var(--bg);
  color: var(--fg);
}

input,
textarea {
  box-shadow: inset 3px 3px 6px var(--dark), inset -3px -3px 6px var(--light);
  animation: neuPopDown 1.5s ease-in-out;
}

textarea {
  caret-color: var(--fg);
}

button {
  cursor: pointer;
  font-weight: 600;
  animation: neuPopUp 0.5s ease-in-out;
  box-shadow: 3px 3px 6px var(--dark), -3px -3px 6px var(--light);
}

button:hover {
  box-shadow: 6px 6px 12px var(--dark), -6px -6px 12px var(--light);
}

button:active {
  box-shadow: inset 3px 3px 6px var(--dark), inset -3px -3px 6px var(--light);
}

button:focus-visible {
  transform: scale(1.1);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.danger-text {
  color: #f44336;
}

.card {
  box-shadow: 8px 8px 16px var(--dark), -8px -8px 16px var(--light);
  padding: 15px;
  margin: auto;
}